<br><br><br>

<div class="container">

    <div class="hide profile-image">
        <img src="/assets/img.jpg" width="175px" height="175px">
    </div>

    <section id="about" class="intro-section">
        <div class="profile-image">
            <img src="/assets/img.png" alt="Prashant Katare">
        </div>
        
        <div class="intro-content">
            <p class="greeting">Hi, my name is</p>
            <h1 class="name">Prashant Katare.</h1>
            <h2 class="tagline">I build things for the web.</h2>
        </div>
    </section>

    <!-- ................................................................................... -->


    <br><br><br>

    <div class="rcorners shadow" style="word-wrap: break-word; padding: 40px;">
        {{bio}}
    </div>

    

    <!-- ................................................................................... -->


    <br><br><br>

    <div class="row heading">Skills</div>

    <br>

    @for (skill of skills; track skill) {
        <div class="rcorners shadow skill-card">
            {{skill}}
        </div>
    }


    <br><br><br>

    <!-- ................................................................................... -->


    <div class="row heading">Certifications</div>

    <br>

    <div class="row">
        @for (course of courses; track course) {
            <div class="col rcorners shadow certification-card">
                <h5 style="color: #4D869C;">{{course.name}}</h5>
                <br>
                <p style="font-size: small;">ID - {{course.id}}</p>
            </div>
        }
    </div>


    <br><br><br>

    <!-- ................................................................................... -->


    <div class="row heading" id="experience">Experience</div>

    <br>

    <div class="row">
        <div class="col rcorners shadow card">
            <h4 class="main">{{post}}</h4>
            <p style="font-size: smaller;">{{experiencePeriod}}</p>
            <b>Total Work Experience: <span style="color: #C73659;">{{totalWorkExperienceinYears}} years {{totalMonthsSinceStartDate}} months</span></b>
            <br><br>
            @for (item of experienceItems; track item) {
                <li>{{item}}</li>
            }
        </div>
    </div>


    <!-- ................................................................................... -->


    <br><br><br>


    <div class="row heading" id="work">
        Work
    </div>

    <br>

    <div class="row">
        <div class="col rcorners shadow card">

            @for (project of projects; track project) { 
                <h4><span class="project-title">{{project.title}}</span></h4>
                <div class="row">
                    <p class="col-12">{{project.description}}</p>
                    <div>
                        <b class="tech-stack-label">Tech Stack :</b>
                        @for (technology of project.technologies; track technology) {
                            <span class="tech-badge">{{technology}}</span>
                        }
                        <br><br>
                    </div>
                    @for (button of project.buttons; track button) {
                        <a class="linksBlue" href="{{button.link}}">{{button.name}}</a>
                    }   
                </div>

                <br><br>
            }
  
        </div>
    </div>

    <!-- ................................................................................... -->


</div>

<br><br><br>


